<?xml version="1.0" encoding="utf-8"?>

<contents>
    {% for item in ack %}
        <confirmation content_id="{{ item.id }}" result="{{ item.result }}"{% if item.comment is defined %} comment="{{ item.comment }}"{% endif %} />
    {% endfor %}
</contents>