<?xml version="1.0" encoding="utf-8"?>

<contents>
    {% for msg in messages %}
        <msg>
            <content_id>{{ msg.id }}</content_id>
            <message_type>reaction</message_type>
            <date>{{ msg.createdAt|date('Y-m-d h:i:s') }}</date>
            <pseudo><![CDATA[{{ msg.username }}]]></pseudo>
            <body><![CDATA[{{ msg.body }}]]></body>
            <url_web><![CDATA[{{ msg.thread.permalink }}]]></url_web>

            {% if msg.getIp != '' %}
                <ip>{{ msg.getIp }}</ip> {#facultatif#}
            {% endif %}
            {#<cookie></cookie> &#123;&#35;facultatif&#35;&#125;#}
            {% if msg.userId is not null %}
                <user_id>{{ msg.userId }}</user_id> {#facultatif#}
            {% endif %}
            {% if msg.email is not null %}
                <email>{{ msg.email }}</email> {#facultatif#}
            {% endif %}
            {% if msg.title is not null %}
                <title><![CDATA[]]></title> {#facultatif#}
            {% endif %}

            <language>FRE</language>
            <country>FRA</country>
        </msg>
    {% endfor %}

    <nb_content>{{ messages|length }}</nb_content>

    {% if error is defined %}
        <error>{{ error }}</error>
    {% endif %}

</contents>
